#container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#canvas {
  width: 50vw;
  height: 50vh;
  border: 1px solid black;
}

#buttonContainer{
  display: flex;
  flex-direction: column;
}

#button {
  /* border: none; */
  background: #FF1493;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
}

#inputCont {
  width: 50vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
